{##
 # Copyright (c) 2018. Anime Twin Cities, Inc.
 #
 # This project, including all of the files and their contents, is licensed under the terms of MIT License
 #
 # See the LICENSE file in the root of this project for details.
#}
<footer class="page-footer center-on-small-only elegant-color-dark">
    <div class="footer-copyright">
        <div class="container-fluid">
            <b>&copy; <a href="http://www.animetwincities.org">Anime Twin Cities, Inc.</a> 2004-{{ "now"|date('Y') }}</b>
        </div>
    </div>
</footer>

<style>
    footer
    {
        padding: 0;
    }
    footer.page-footer a {
        color: #fff;
    }
    footer.page-footer {
        padding-top: 0;
    }
</style>