<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><img src="{{ asset('images/ADLogo270.png') }}" alt="Anime Detour"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{ render(controller('AppBundle:Backend/Template/Menu:menuRouting')) }}
        </ul>
    </div>
    <ul class="navbar-nav nav-flex-icons">
        {{ render(controller('AppBundle:User/User:currentUser')) }}
        {{ render(controller('AppBundle:Backend/Template/Menu:switchYears')) }}
    </ul>
</nav>

<style>
    .social {
        color: #dbe4e7;
    }
</style>