{% extends 'detour.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <br>
            {% if error_msg is defined  %}
            <div class="alert alert-danger text-center">{{ error_msg }}</div>
            {% endif %}
            <br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <br>
                    <form name="LoginForm" method="post" action="/login">
                        <input type="hidden" name="redir" value="{redir}"/>
                        <fieldset>
                            <div class="control-group text-center">
                                <label class="control-label" for="email">Email</label>
                                <div class="controls">
                                    <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
                                </div>
                            </div>

                            <div class="control-group text-center">
                                <label class="control-label" for="password">Password</label>
                                <div class="controls">
                                    <input type="password" id="password" name="Password" placeholder="" class="input-xlarge">
                                </div>
                            </div>
                            <br>
                            <div class="control-group text-center">
                                <div class="controls">
                                    <button class="btn btn-primary">Login</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <br>
                    <div class="text-center">
                        <a href="/forgotpassword">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
