<div class="row headerImage">
        <style type="text/css">
            .headerImage {
                background-size: 100%;
                height: 346px;
                background-image: url({{ asset('images/2014theme/ADHeader1152.png') }});
            }

            .shadow {font-size: 1.6em; display: block; line-height: .5em; color: #666; /* shadow color */ background-color: transparent; white-space: nowrap; /* wrapping breaks the effect */}
            .shadow:before,
            .shadow:after{content: "{condate}"; /* generated text */ display: block;}
            .shadow:before{margin-bottom: -.55em; margin-left: 0.1ex; color: #ccc; /* shadow color */ background-color: transparent;}
            .shadow:after{margin-top: -.55em; margin-left: -0.1ex; color: #FF6600; /* text color */ background-color: transparent;}
        </style>

        <img src="{{ asset('images/adlogo.png') }}" style="position: absolute; top:40px; right: 200px" class="col-xs-4" alt="AD Logo">
        <div class="col-xs-5" style="position: relative; top:0px; right: -100px">
                <a href="/?theme={defaulttheme}" style="">Reset Theme</a>
        </div>
        <div id="toplinks" style=" position: relative; top:-15px; right: -680px">
                {{ render(controller('AppBundle:User/User:index')) }}
        </div>
        <div class="clearfix visible-xs-block"></div>
</div>