<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="/profile/change-password">
        <i class="fas fa-user"></i>
        {{ name }}
    </a>
</li>
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="/logout">
        <i class="fas fa-sign-out-alt"></i>
        Logout
    </a>
</li>