{##
 # Copyright (c) 2018. Anime Twin Cities, Inc.
 #
 # This project, including all of the files and their contents, is licensed under the terms of MIT License
 #
 # See the LICENSE file in the root of this project for details.
#}
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="/profile/change-password">
        <i class="fas fa-user"></i>
        {{ name }}
    </a>
</li>
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="/logout">
        <i class="fas fa-sign-out-alt"></i>
        Logout
    </a>
</li>