#main img {
	max-width:550px;	
}	
#wrap {color:#404040; margin: 0px auto; padding:0; width:768px;}	
#header { width: 768px; height: 231px; } /* background:url(/theme/ad/2013/images/ADHeader-strip1-231.gif) repeat-x;  */
#sidebar {float:left; line-height:1.4em; margin:0 0 5px; padding:1px 0 0; width:232px; }
#main {float:right; line-height:1.5em; margin:0; text-align:left; padding-left: 2em; padding-top: .2em; width:536px; }
#footer {}
#SideBarItems {visibility: visible; display: block; padding:0 0px; }
#ConventionDates { position: relative; right: 75px; top: 100px; width: 400px;}
#ConventionDates h4 { font-size:1.5em; }
#ConventionDatesLocation { visibility: visible; display: block; }	
#HeaderBottom { position: absolute; left: 0px; top: 211px; height: 20px; }		
#ADLogoPNG { position: relative; right: 65px; top: 40px; }
#social-networking {visibility:hidden; display: none;}