<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Registration Type
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
        <a class="dropdown-item"
           href="javascript:void(0);"
           onclick="changeType('all', 'All')">
            All
        </a>
        {% for type in typeList %}
        <a class="dropdown-item"
           href="javascript:void(0);"
           onclick="changeType('{{ type.id }}', '{{ type.type }}')">
            {{ type.type }}
        </a>
        {% endfor %}
    </div>
</div>