<li>
    <a href="#Years">Event Year: {{ selectedYear }}</a>
    <ul>
        {% for year in years %}
        <li><a href="/changeyear/{{ year }}">{{ year }}</a></li>
        {% endfor %}
    </ul>
</li>